.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  padding: 8px 15px;
  border: none;
  background-color: #ff6f61;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.card button:hover {
  background-color: #ff3b2e;
}